/*about the play page starts here*/

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,
.hero,
.zigzag,
.footer {
    width: var(--width-full);
}

.board-of-directors,
.about {
    width: var(--width-12col);
}


.header {
    background-color: var(--brown-color);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    height: 60px;
    background-color: var(--brown-color);
    padding: 17.5px 0 17.5px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.menu-container-logo {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.logo svg {
    width: 160px;
    height: 27.82px;

    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.menu-container-links {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.navigation-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-links a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    white-space: nowrap;
}

.navigation-links a:last-child {
    margin-right: 80px;
}

/* about the play starts  */

.hero-about-the-play {
    background-color: var(--background-color-light);
    min-height: 863px;
    max-height: 863px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 230px;

}


.hero-about-the-play-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.hero-about-the-play svg {
    flex-shrink: 0;
    height: auto;
    display: block;
}

.about-the-play-title {
    display: flex;
    width: 599px;
    height: 281px;
    flex-direction: column;
    justify-content: flex-end;
    color: #BF3324;
    font-size: 35px;
    font-weight: 400;
}

.about-the-play-text-title {
    font-size: 24px;
    
}

.about-the-play-text-title a {
    color: var(--primary-color);
    text-decoration: none;
}

.about-the-play-text-title b {
    font-size: 48px;
    font-weight: normal;
}

/* about the play ends */


/* author section starts */
.author {
    background-color: var(--black-color);
    min-height: 435px;
    max-height: 435px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.author-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.author-name {
    grid-row: 1;
    margin: 85px 0 0 0;
    color: var(--background-color-light);
    grid-column: 1 / span 3;
    font-size: 24px;
    font-weight: 200;
}

.author-container-left-img {
    grid-row: 1;
    margin-top: 0;
    white-space: nowrap;
    align-self: self-end;
    position: absolute;
    right: 0px;
}

.author-container-left-img img {
    width: 541px;
    height: 529px;
    aspect-ratio: 541/529;
}

.author-container-img {
    grid-row: 2;
    margin-top: 0;
    grid-column: 1 / span 3;
    white-space: nowrap;
    align-self: flex-start;
}

.author-container-img img {
    width: 173.541px;
    height: 249px;
    aspect-ratio: 173.54/249.00;
}

.author-container-text {
    grid-row: 1 / span 2;
    margin: 89px 0 0 0;
    color: var(--background-color-light);
    grid-column: 4 / span 9;
    font-size: 24px;
}

.author-container-text i {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
}

.author-container-text b {
    font-size: 48px;
    font-weight: normal;
}

/*Illustrator section starts*/

.illustrator {
    background-color: var(--background-color-light);
    min-height: 435px;
    max-height: 435px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.illustrator-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.illustrator-container-img-right {
    grid-row: 2;
    margin-top: 0;
    grid-column: 1 / span 3;
    white-space: nowrap;
    align-self: flex-start;
}

.illustrator-container-img-right img {
    width: 420px;
    height: 303px;
    aspect-ratio: 140/101;
}

.illustrator-name {
    grid-row: 1;
    margin: 85px 0 0 0;
    color: var(--background-color-dark);
    grid-column: 11 / span 6;
    font-size: 24px;
    font-weight: 200;
}

.illustrator-container-img-left {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: flex-end;
    grid-row: 2;
    margin-top: 0;
    white-space: nowrap;
}

.illustrator-container-img-left img {
    width: 176px;
    height: 242px;
    aspect-ratio: 8/11;

}

.illustrator-container-text {
    grid-row: 1 / span 2;
    margin: 89px 0 0 0;
    color: var(--background-color-dark);
    grid-column: 6 / span 10;
    font-size: 24px;

}


.illustrator-container-text i {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
}

.illustrator-container-text b {
    font-size: 48px;
    font-weight: normal;
}

/* about the play page ends here*/



.support-scarntyden {
    display: flex;
    justify-content: center;
    margin: 36px 0 36px 0;
}

.support-scarntyden a {
    color: var(--background-color-dark);
    font-size: 36px;
    text-decoration: none;
}

.next-page-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.next-page-button button {
    height: 35px;
    width: 117px;
    background-color: var(--background-color-dark);
    border: none;
}

.next-page-button button a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

.footer-section {
    background-color: var(--brown-color);
    height: 84px;
    width: var(--width-full);
}