@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color : #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,.hero,.zigzag,.footer {
    width: var(--width-full);
}

.boardofdirectors,.about {
    width: var(--width-12col);
}


.header {
    background-color: var(--brown-color);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    height: 60px;
    background-color: var(--brown-color);
    padding: 17.5px 0 17.5px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.menu-container-logo {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;  
    margin-left: 80px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.menu-container-links {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;  
    justify-content: flex-end;
}


.navigation-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-links a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    white-space: nowrap;
}

.navigation-links a:last-child {
    margin-right: 80px;
}

.hero-about {
    background-color: var(--background-color-dark);
    min-height: 500px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.hero-about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-about-img {
    margin-top: 70px;
    grid-column: 1 / span 6;
    white-space: nowrap;
}

.hero-about-img img {
    height: 430px;
    width: 550px;
}

.hero-about-text {
    grid-row: 1;
    margin: 89px 0 0 0;
    color: var(--background-color-light);
    grid-column: 7 / span 6;
    font-size: 24px;
}

.hero-about-text a {
    color: var(--primary-color);
    text-decoration: none;
}

.hero-about-text b {
    font-size: 48px;
    font-weight: normal;
}

.board-of-directors {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.board-of-directors-headline {
    width: 100%;
    height: 45px;
    color: var(--background-color-dark);
    margin: 32px 0 0 0;
    font-size: 36px;
}

.board-of-directors-content-block-img img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.board-of-directors-cards-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.board-of-directors-contet-block-thomas {
    grid-column: 2 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-silhja {
    grid-column: 8 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-silhja h5 {
    margin-bottom: 38.4px;
}


.board-of-directors-content-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 15px 20px;
    color: var(--background-color-light);
}


.board-of-directors-content-block-name {
    font-size: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-of-directors-content-block-position {
    display: flex;
    align-items: center;
    font-size: 20px;        
}



.board-of-directors-content-block-number {
    display: flex;
    align-items: center;

}

.board-of-directors-conent-block-email {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.board-of-directors-cards-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.board-of-directors-contet-block-bjarne {
    grid-column: 2 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-bjarne h5 {
    margin-bottom: 38.4px;
}

.board-of-directors-contet-block-ida {
    grid-column: 8 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-ida h5 {
    margin-bottom: 38.4px;
}
