/*about the play page starts here*/

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,
.hero,
.zigzag,
.footer {
    width: var(--width-full);
}

.board-of-directors,
.about {
    width: var(--width-12col);
}


.header {
    background-color: var(--brown-color);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--brown-color);
    z-index: 10000;
}

li {
    list-style: none;
}

a{
    color:  var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
}

.header-container {
    width: var(--width-full);
    margin: auto;
}

.header-content {
    width: 79%;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    height: 27.82px;
    width: 160px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color:  var(--background-color-light);
}
/* about the play starts  */

.hero-about-the-play {
    background-color: var(--background-color-light);
    min-height: 863px;
    max-height: 863px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 230px;

}


.hero-about-the-play-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.hero-about-the-play svg {
    flex-shrink: 0;
    height: auto;
    display: block;
    margin: 0 0 -20px 0;
}

.about-the-play-title {
    display: flex;
    width: 599px;
    height: 281px;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 400;
}

.about-the-play-text-title {
    font-size: 24px;

}

.about-the-play-text-title i {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
}

.about-the-play-text-title b {
    font-size: 48px;
    font-weight: normal;
}

/* about the play ends */


/* author section starts */
.author {
    background-color: var(--black-color);
    min-height: 435px;
    max-height: 435px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.author-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.author-name {
    grid-row: 1;
    margin: 85px 0 0 0;
    color: var(--background-color-light);
    grid-column: 1 / span 3;
    font-size: 24px;
    font-weight: 200;
}

.author-container-left-img {
    grid-row: 1;
    margin-top: 0;
    white-space: nowrap;
    align-self: self-end;
    position: absolute;
    right: 0px;
}

.author-container-left-img img {
    width: 541px;
    height: 529px;
    aspect-ratio: 541/529;
}

.author-container-img {
    grid-row: 2;
    margin-top: 0;
    grid-column: 1 / span 3;
    white-space: nowrap;
    align-self: flex-start;
}

.author-container-img img {
    width: 173.541px;
    height: 249px;
    aspect-ratio: 173.54/249.00;
}

.author-container-text {
    grid-row: 1 / span 2;
    margin: 178px 0 0 0;
    color: var(--background-color-light);
    grid-column: 4 / span 9;
    font-size: 24px;
}

.author-container-text i {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
}

.author-container-text b {
    font-size: 48px;
    font-weight: normal;
}

/*Illustrator section starts*/

.illustrator {
    background-color: var(--background-color-light);
    min-height: 435px;
    max-height: 435px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.illustrator-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.illustrator-container-img-right {
    grid-row: 2;
    margin-top: 0;
    grid-column: 1 / span 4;
    white-space: nowrap;
    align-self: flex-start;
}

.illustrator-container-img-right img {
    width: 420px;
    height: 303px;
    aspect-ratio: 140/101;
}

.illustrator-name {
    grid-row: 1;
    margin: 85px 0 0 0;
    color: var(--background-color-dark);
    grid-column: 11 / span 6;
    font-size: 24px;
    font-weight: 200;
}

.illustrator-container-img-left {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: flex-end;
    grid-row: 2;
    margin-top: 0;
    white-space: nowrap;
}

.illustrator-container-img-left img {
    width: 176px;
    height: 242px;
    aspect-ratio: 8/11;

}

.illustrator-container-text {
    grid-row: 1 / span 2;
    margin: 178px 0 0 30px;
    color: var(--background-color-dark);
    grid-column: 5 / span 12;
    font-size: 24px;

}


.illustrator-container-text i {
    font-style: normal;
    color: var(--primary-color);
    text-decoration: none;
}

.illustrator-container-text b {
    font-size: 48px;
    font-weight: normal;
}

/* about the play page ends here*/



.support-scarntyden {
    display: flex;
    justify-content: center;
    margin: 36px 0 36px 0;
}

.support-scarntyden a {
    color: var(--background-color-dark);
    font-size: 36px;
    text-decoration: none;
}

.next-page-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.next-page-button button {
    height: 35px;
    width: 117px;
    background-color: var(--background-color-dark);
    border: none;
}

.next-page-button button a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

.footer-section {
    background-color: var(--brown-color);
    height: 84px;
    width: var(--width-full);
}

/* mobile starts*/
@media(max-width: 1600px) {
    .header-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    :root {
        --width-12col: 100%;
        --padding-default: 20px;
    }

        body, html {
        overflow-x: hidden;
        width: 100%;
    }


    .container {
        width: 100%;
        overflow: hidden;
    }
    .hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}
    .hero-about-the-play {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        background-color: var(--background-color-light);
        overflow: hidden;
    }

    .hero-about-the-play svg {
        position: absolute;
        bottom: 0px;
        left: -10%;
        width: 80%;
        height: auto;
        margin: 0 0 -300px 0;
    }

    .hero-about-the-play-container {
        position: relative;
        z-index: 10;
        width: 75%;
        margin-left: 15%;
        margin-top: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .about-the-play-title {
        width: 100%;
        text-align:justify;
        margin-bottom: 5px;
    }

    .about-the-play-title h1 {
        font-size: 60px;
        line-height: 1;
        color: var(--primary-color);
        font-weight: 400;
        margin: 0;
        word-spacing: 100vw;
    }
    
    .about-the-play-title h1 b {
        font-size: 56px;
        line-height: 0.8;
        font-weight: 400;
        vertical-align: middle;
    }

    .about-the-play-text-title {
        font-size: 16px;
        line-height: 1.4;
        color: var(--background-color-dark);
        text-align: left;
        margin-top: 10px;
    }

    .about-the-play-text-title i b {
        color: var(--primary-color);
        font-size: 24px;
        float: left;
        line-height: 0.8;
        margin-right: 3px;
    }
    
    .about-the-play-text-title br {
        display: none;
    }
/* author section mob */
    .author {
        display: block;
        height: auto;
        min-height: auto;
        background-color: var(--background-color-dark);
        padding: 40px 20px;
    }

    .author-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
        align-items: flex-start;
    }

    .author-name {
        width: 100%;
        order: 1;
        text-align: left;
        margin: 0 0 10px 0;
    }
    
    .author-name h2 {
        color: var(--background-color-light);
        font-size: 24px;
        font-weight: 400;
    }

    .author-container-img {
        width: 35%;
        order: 2;
    
    }

    .author-container-img img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 20px 0 0 0;
    }

    .author-container-text {
        width: 60%;
        margin-left: 5%;
        order: 3;
        text-align: left;
        margin: -20px 0 10px 15px;
    }

    .author-container-text p {
        color: var(--background-color-light);
        font-size: 14px;
        line-height: 1.5;
    }
    
    .author-container-text i b {
        color: var(--primary-color);
    }

    .author-container-text br {
        display: none;
    }
    .author-container-left-img  {
        width: 35%;
        order: 2;
        margin: 0;
    }
        .author-container-left-img img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    
    .author-container-left-img { display: none; }

/* illustrator mob*/

    .illustrator {
        display: block;
        height: auto;
        min-height: auto;
        background-color: var(--background-color-light);
        padding: 40px 20px;
    }

    .illustrator-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
    }

    .illustrator-name {
        width: 100%;
        order: 1;
        text-align: right;
        margin: 0 0 10px 0;
    }

    .illustrator-name h2 {
        color: var(--brown-color);
        font-size: 24px;
        font-weight: 400;
    }

    .illustrator-container-text {
        width: 60%;
        margin-right: 5%;
        order: 2;
        text-align: left;
        margin:  -20px 0 10px 15px;
    }
    
    .illustrator-container-text p {
        color: var(--brown-color);
        font-size: 14px;
        line-height: 1.5;
    }
    
    .illustrator-container-text i b {
        color: var(--primary-color);
    }

    .illustrator-container-text br {
        display: none;
    }

    .illustrator-container-img-left {
        width: 35%;
        order: 3;
        display: block;
        margin: 20px 0 0 0;
    }

    .illustrator-container-img-left img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 5px;
    }

    .illustrator-container-img-right {
        display: none;
    }

    .illustrator-container-img-right {
        display: flex;           
        justify-content: center; 
        width: 100%;             
        order: 4;                
    }

    .illustrator-container-img-right img {
        width: 55%;              
        height: auto;
        aspect-ratio: auto;
    }
  
    .support-scarntyden {
        margin: 70px 0 40px 0 ;
    }
    .support-scarntyden a {
        font-size: 20px;
    }
    
    .next-page-button {
        padding-bottom: 60px;
    }
    
    .next-page-button button {
        width: 140px;
        height: 45px;
    }
}