@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,
.hero,
.zigzag,
.footer {
    width: var(--width-full);
}

.boardofdirectors,
.about {
    width: var(--width-12col);
}


.header {
    background-color: var(--brown-color);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation,.hero,.zigzag,.footer {
    width: var(--width-full);
}

.boardofdirectors,.about {
    width: var(--width-12col);
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--brown-color);
    z-index: 10000;
}

li {
    list-style: none;
}

a{
    color:  var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
}

.header-container {
    width: var(--width-full);
    margin: auto;
}

.header-content {
    width: 79%;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    height: 27.82px;
    width: 160px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color:  var(--background-color-light);
}
.hero-about {
    background-color: var(--background-color-dark);
    min-height: 500px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}

.hero-about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-about-img {
    margin-top: 70px;
    grid-column: 1 / span 6;
    white-space: nowrap;
}

.hero-about-img img {
    height: 430px;
    width: 550px;
}

.hero-about-text {
    grid-row: 1;
    margin: 89px 0 0 0;
    color: var(--background-color-light);
    grid-column: 7 / span 6;
    font-size: 24px;
}

.hero-about-text a {
    color: var(--primary-color);
    text-decoration: none;
}

.hero-about-text b {
    font-size: 48px;
    font-weight: normal;
}

.board-of-directors {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 60px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.board-of-directors-headline {
    width: 100%;
    height: 45px;
    color: var(--background-color-dark);
    margin: 32px 0 0 0;
    font-size: 36px;
}

.board-of-directors-content-block-img img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.board-of-directors-cards-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 70px;
}

.board-of-directors-contet-block-thomas {
    grid-column: 2 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.claw-left {
    position: absolute;
    white-space: nowrap;
    z-index: 10000;
    rotate: -35.52deg;
    top: -5px;
}

.claw-left img {
    height: 165.78px;
    width: 248.67px;
}

.claw-right {
    position: absolute;
    z-index: 10000;
    rotate: 35.52deg;
    top: 20px;
    right: 16px;
    justify-self: right;
}

.claw-right img {
    height: 136.03px;
    width: 204.5px;
}

.board-of-directors-contet-block-silhja {
    grid-column: 8 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-silhja h5 {
    margin-bottom: 38.4px;
}


.board-of-directors-content-block-text {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
    color: var(--background-color-light);
}

.board-of-directors-content-block-text svg {
    margin-right: 80px;
}


.board-of-directors-content-block-name {
    font-size: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-of-directors-content-block-position {
    display: flex;
    align-items: center;
    font-size: 20px;
}



.board-of-directors-content-block-number {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.board-of-directors-conent-block-email {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.board-of-directors-cards-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.board-of-directors-contet-block-bjarne {
    grid-column: 2 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-bjarne h5 {
    margin-bottom: 38.4px;
}

.board-of-directors-contet-block-ida {
    grid-column: 8 / span 4;
    background-color: var(--background-color-dark);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-of-directors-contet-block-ida h5 {
    margin-bottom: 38.4px;
}

.main-carousel {
    margin-bottom: 80px;
    height: fit-content;
    overflow: visible;
}

.flickity-button {
    color: var(--background-color-light) !important;
    background-color: var(--background-color-dark) !important;
}

.flickity-button:disabled {
    display: none;
}

.description {
    width: var(--width-full);
    background-color: var(--background-color-dark);
}

.description-part {
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.description-part-headline {
    width: 100%;
    height: 45px;
    color: var(--background-color-light);
    margin: 32px 0 0 0;
    font-size: 36px;
}

.description-blocks {
    display: flex;
    flex-direction: column;
}

.description-block-amature {
    display: flex;
    flex-wrap: nowrap;
    min-width: var(--width-12col);
    height: 347px;
    box-sizing: border-box;
}

.description-amature-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 92px 106px;
    background-color: var(--background-color-light);
    height: 347px;
    width: 600px;
}

.text-h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description-amature-text p {
    font-size: 36px;
    color: var(--background-color-dark);
    text-align: center;
}

.description-amature-text b {
    font-weight: normal;
    font-size: 48px;
}

.description-amature-text h5 {
    color: var(--primary-color);
    font-weight: normal;
    font-size: 36px;
}

.description-amature-img img {
    height: 347px;
    width: 600px;
}

.description-block-feel {
    display: flex;
    flex-wrap: nowrap;
    min-width: var(--width-12col);
    height: 347px;
}

.description-feel-img img {
    height: 347px;
    width: 600px;
}

.description-feel-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 92px 106px;
    background-color: var(--background-color-light);
    height: 347px;
    width: 600px;
}

.description-feel-text b {
    font-weight: normal;
    font-size: 48px;
    color: var(--primary-color);
}

.description-feel-text p {
    font-size: 36px;
    color: var(--background-color-dark);
    text-align: center;
}

.description-block-fun {
    display: flex;
    flex-wrap: nowrap;
    min-width: var(--width-12col);
    height: 347px;
}

.description-fun-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 92px 106px;
    background-color: var(--background-color-light);
    height: 347px;
    width: 600px;
}

.description-fun-text p {
    font-size: 36px;
    text-align: center;
}

.description-fun-text i {
    font-style: normal;
    font-size: 36px;
    color: var(--primary-color);
}

.description-fun-text b {
    font-weight: normal;
    font-size: 48px;
    color: var(--primary-color);
}

.description-fun-img img {
    height: 347px;
    width: 600px;
}

.support-scarntyden {
    display: flex;
    justify-content: center;
    margin: 36px 0 36px 0;
}

.support-scarntyden a {
    color: var(--background-color-light);
    font-size: 36px;
    text-decoration: none;
}

.next-page-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.next-page-button button {
    height: 35px;
    width: 117px;
    background-color: var(--background-color-light);
    border: none;
}

.next-page-button button a {
    color: var(--background-color-dark);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

.footer-section {
    background-color: var(--brown-color);
    height: 84px;
    width: var(--width-full);
}


@media(max-width: 1600px) {
    .header-container {
        width: 100%;
    }
}

@media(max-width:1024px) {
    :root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: 100%;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}

html, body {
    overflow-x: hidden;
}

.body {
    margin: 0;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    /*transition: 0.3s;*/
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.hero-about {
    min-height: 730px;
}

.hero-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-about-text {
    font-size: 18px;
}

.hero-about-text b {
    font-size: 24px;
}

.hero-about-img {
    position: absolute;
    bottom: -5px;
    margin-top: 0;
}

.hero-about-img img {
    width: 489px;
    height: 400px;
}


.board-of-directors-headline {
    margin-left: 50px;
}


.carousel-cell {
    width: 100%;
}

.board-of-directors-cards-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 400px; 
    margin-top: 20px;
}

.claw-left {
    display: none;
}

.claw-right {
    display: none;
}


.board-of-directors-cards-2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-self: center;
}

.description-part-headline {
    margin-left: 50px;
}

.description-fun-img, .description-feel-img, .description-amature-img {
    display: none;
}

.discription-blocks {
    width: var(--width-full);
}

.description-block-amature {
    min-width: 0;
}
.description-feel-text{
    background-color: var(--background-color-dark);
}

.description-feel-text p {
    color: var(--background-color-light);
}

.description-block-amature,.description-block-feel,.description-block-fun {
    width: var(--width-full);
    box-sizing: border-box;
}
.description-amature-text,.description-feel-text,.description-fun-text {
    width: var(--width-full);
    padding: 0;
}

}

@media(max-width:800px) {
    :root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: 100%;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}

html, body {
    overflow-x: hidden;
}

.body {
    margin: 0;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    /*transition: 0.3s;*/
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.hero-about {
    min-height: 730px;
}

.hero-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-about-text {
    font-size: 18px;
}

.hero-about-text b {
    font-size: 24px;
}

.hero-about-img {
    position: absolute;
    bottom: -5px;
    margin-top: 0;
}

.hero-about-img img {
    width: 489px;
    height: 400px;
}


.board-of-directors-headline {
    margin-left: 50px;
}

.flickity-button {
    display: none;
}

.carousel-cell {
    width: 100%;
}

.board-of-directors-cards-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 400px; 
    margin-top: 20px;
}

.claw-left {
    display: none;
}

.claw-right {
    display: none;
}


.board-of-directors-cards-2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-self: center;
}

.description-part-headline {
    margin-left: 50px;
}

.description-fun-img, .description-feel-img, .description-amature-img {
    display: none;
}

.discription-blocks {
    width: var(--width-full);
}

.description-block-amature {
    min-width: 0;
}
.description-block-amature,.description-block-feel,.description-block-fun {
    width: var(--width-full);
    box-sizing: border-box;
}
.description-amature-text,.description-feel-text,.description-fun-text {
    width: var(--width-full);
    padding: 0;
}

.description-amature-text p,.description-feel-text p,.description-fun-text p {

}

}


@media(max-width:400px) {
    :root {
    /* dimensions */
    --width-full: 100%;
    --width-12col: :100%;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color: #000000;
}


.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    /*transition: 0.3s;*/
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.hero-about {
    height: 1000px;
}

.hero-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-about-text {
    max-width: 364px;
    max-height: 319px;
    font-size: 18px;
}

.hero-about-text br {
    display: none;
}

.hero-about-text b {
    font-size: 24px;
}

.board-of-directors-headline, .description-part-headline {
    margin-left: 0;
    font-size: 30px;
    white-space: nowrap;
}

}
