:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFEE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color : #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
