@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFEE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color : #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    background-color: var(--background-color-light);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--brown-color);
    z-index: 10000;
}

li {
    list-style: none;
}

a{
    color:  var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
}

.header-container {
    width: var(--width-full);
    margin: auto;
}

.header-content {
    width: 79%;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    height: 27.82px;
    width: 160px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color:  var(--background-color-light);
}

.hero {
    min-height: 550px; /*original 440*/
    display: flex;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin:0;
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero_bridge {
    grid-column: 2 / span 7;
    grid-row: 2;
    display: flex;
   /* align-items: flex-end;
    justify-content: flex-end;*/
}

.hero_cherry {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:  75px;
    left: 0px;
}

.hero_cherry_right {
    grid-column: 11 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleX(-1);
    position: absolute;
    right: -0px;
    top: 60px;
    display: none;
}

.hero_text {
    grid-column: 8 / span 5;
    grid-row: 2;
    color: var(--primary-color);
    margin: 80px 0 0 0;
}

.hero_text h1 {
    font-size: 80px;
}

.hero_text h1 span {
    display: flex;
    justify-content: center;
}

.hero_button {
    grid-column: 9 / span 3;
    grid-row: 2;
    display: flex;
    align-items: center;
    margin: 200px 0 0 0;
}

.hero_button button {
    background-color: var(--background-color-dark);
    padding: 10px 30px 10px 30px;
}

.hero_button button a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Marcellus', serif;
}

.get_tickets {
    background-color: var(--background-color-dark);
    min-height: 453px; /*original 293, then 353 without padding*/
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
}

.tickets_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.tickets_cherry {
    grid-column: 1 / span 3;
    display: flex;
    grid-row: 2;
    position: absolute;
    top:  560px;
    left: 100px;
}

.tickets_next {
    grid-column: 6 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}

.tickets_next button {
    height: 35px;
    width: 117px;
    background-color: var(--background-color-light);
    border: none;
}

.tickets_next button a {
    color: var(--background-color-dark);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

.tickets_button {
    grid-column: 6 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}

.tickets_button button {
    background-color: var(--background-color-dark);
    border: 1px solid var(--background-color-dark);
}

.tickets_button button a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 35px;
    font-family: 'Marcellus', serif;
}

.footer {
    background-color: var(--background-color-dark);
    padding: 20px 0 50px 0;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: var(--width-12col);
    height: 100%;
    margin:0 auto;
}

@media(max-width: 1600px) {
    .header-container {
        width: 100%;
    }
}

@media (max-width:600px) {
:root {
    --width-full: 100%;
    --width-12col: 100%;
}

.body, html {
    overflow-x: hidden;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.hero {
    min-height: auto;
    height: auto;
}

.hero_bridge {
    display: flex;
    align-items: center;
    grid-column: 3 / span 8;
    grid-row: 2;
    margin-top: 170px;
    max-width: fit-content;
    max-height: fit-content;
}

.hero_bridge svg {
    padding: 60px 0 0 0;
    width: 100%;
    height: 100%;
}

.hero_text {
    margin-top: 114px;
    grid-column: 3 / span 8;
    grid-row: 1;
    text-align: center;
    flex-wrap: nowrap;
}

.hero_text h1 {
    font-size: 60px;
}

.hero_button {
    grid-column: 5 / span 4;
    grid-row: 2;
    margin-top: 45px;
    justify-content: center;
}

.hero_button button a {
    font-size: 14px;
    flex-wrap: nowrap;
}

.hero_button button {
    padding: 10px 20px;
    white-space: nowrap;
    z-index: 100;
}

.hero_cherry {
    margin-top: 90px;
    align-items: flex-start;
}

.hero_cherry svg {
    width: 55%;
    height: 55%;
}

.hero_cherry_right {
    position: absolute;
    display: block;
    margin-top: 50px;
}

.hero_cherry_right svg{
    width: 55%;
    height: 55%;
    rotate: -4deg;
}

.tickets_cherry {
    display: none;
    top:  630px;
    left: 50px;
}

.tickets_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets_button {
   margin: 15px 0 0 0;
}

.tickets_next {
    margin: 110px 0 0 0;
}


.tickets_next button a {
    font-size: 15px;
}


}

@media (max-width:573px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
}

.hero_text h1 {
    font-size: 50px;
}

.hero_button {
    margin-top: 15px;
}

.hero_bridge {
    margin-top: 180px;
}
}
@media (max-width:528px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
}

.hero_cherry_right{
    margin-top: 60px;
}

.hero_cherry svg, .hero_cherry_right svg {
    width: 45%;
    height: 45%;
}
}

@media (max-width: 475px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
} 

.hero_text h1 {
    font-size: 45px;
}

}

@media (max-width: 450px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
}   

    .hero_cherry svg, .hero_cherry_right svg {
    width: 40%;
    height: 40%;
}
}
@media (max-width: 412px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
}   

    .hero_text h1 {
        font-size: 40px;
    }

    .hero_cherry svg, .hero_cherry_right svg {
    width: 38%;
    height: 38%;
}
}