:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #111111;
    --background-color-light: #ededed;
    --primary-color: #4F3873;
    --orange-color: #DA7F3A;
    --grey-color: #666666;
    --white-color: #FFFFFF;
    --color-black: #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
