@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color : #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,.hero,.zigzag,.footer {
    width: var(--width-full);
}

.boardofdirectors,.about {
    width: var(--width-12col);
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--brown-color);
    z-index: 10000;
}

li {
    list-style: none;
}

a{
    color:  var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
}

.header-container {
    width: var(--width-full);
    margin: auto;
}

.header-content {
    width: 79%;
    margin: auto;
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logo {
    height: 27.82px;
    width: 160px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color:  var(--background-color-light);
}

.hero-video-page {
    min-height: 620px;
    max-height: 620px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.hero-video-page-container{
    display: grid;
    /*grid-template-columns: repeat(12, 1fr);*/
    grid-template-rows: auto auto auto;
    /*gap: var(--grid-gap);*/
    width: var(--width-12col);
    height: 100%;
    margin-top: 69px;
}

.hero-video-page-container-text {
    display: grid;
    justify-content: center;
    grid-column: span 1 / span 4;
    height: 215px;
    width: 450px;
    margin-top: 124px;
}

.hero-video-page-container-text h1{
    color: var(--primary-color);
    font-size: 80px;
    font-family: 'Marcellus', serif;
    align-self: center;
    text-transform: capitalize;
    text-align: center;
}
.hero-video-page-container-text h1 span{
    color: var(--primary-color);
    font-size: 120px;
    font-family: 'Marcellus', serif;
    align-self: center;
    text-transform:uppercase;
}

.hero-video-page-container-img{
    grid-column: 4 / span 8;
    z-index: 0;
}

.hero-video-page-container-img-img img{
    height: auto; /*or %*/
    width: 990px; /*or %*/
    overflow: hidden;
}

.video-section {
    display: flex;
    gap: var(--grid-gap);
    background-color: var(--background-color-dark);
    justify-content: center;
    width: var(--width-full);
    padding: 30px 0;
    z-index: 100;
}

.video-section-stuff{
    display: flex;
    
}

.video-section-video {
    grid-column: 1 / span 6;
}

.video-section-left{
    display: grid;
    width: 600px;
}

.video-section-left-image {
    grid-column: 11/ span 1;
    display: flex;
    justify-content: flex-end;
    color: var(--background-color-light);
}

.video-section-left-image-second {
    display: flex;
    color: var(--background-color-light);
}

.video-section-left-image img{
    width: 230px;
    height: 330px;
    background-image: var(--background-color-light);
    position: absolute;
    right: 0px;
}
.video-section-left-image-second img{
    width: 0px;
    height: 0px;
    background-image: var(--background-color-light);
    position: absolute;
    right: 0px;
}

.video-section-left-text{
    display: grid;
    justify-content: center;
    grid-column:6 / span 5;
}
.video-section-left-text a{
    align-self: center;
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
    white-space: nowrap;
    text-transform: capitalize;
}

.video-page-music-house-about-section{
    display: flex;
    justify-content: center;
    margin: 30px 0 ;
}

.video-page-music-house-about-section-container{
    width: var(--width-12col);
}

.video-page-music-house-about-section-container-header-first{
    display: flex;
    height: 150px;
}

.video-page-music-house-about-section-container-svg svg{
    width: 250px;
    height: 250px;
        .cls-1 {
            stroke-width: 3.09px;
        }

        .cls-1, .cls-2, .cls-3 {
            fill: none;
            stroke: #231f20;
            stroke-miterlimit: 10;
        }

        .cls-2 {
            stroke-width: 3.08px;
        }

        .cls-3 {
            stroke-width: 3px;
        };
}

.video-page-music-house-about-section-container-first-text{
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Marcellus', serif;
}

.video-page-music-house-about-section-container-first-text p span {
    color: var(--primary-color);
}

.video-page-music-house-about-section-container-first-text p span span {
    font-size: 30px;
} 
.video-page-music-house-about-section-container-header-second {
    font-family: 'Marcellus', serif;
    font-size: 20px
}


.support-scarntyden {
    display: flex;
    justify-content: center;
    margin: 36px 0 0 0;
    padding-top: 48px;
    background-color: var(--background-color-dark);
}

.support-scarntyden a {
    color: var(--background-color-light);
    font-size: 36px;
    text-decoration: none;
}

.footer-section {
    background-color: var(--brown-color);
    height: 84px;
    width: var(--width-full);
}

/*yo phone linging*/ 
/*Phone compatibality*/ 
@media(max-width: 1600px) {
    .header-container {
        width: 100%;
    }
}

@media (max-width:600px) {
:root {
    --width-full: 100%;
    --width-12col: 100%;
}
.body, html {
    overflow-x: hidden;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:  var(--brown-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}

.hero-video-page {
    min-height: 660px;
}
.hero-video-page-container {
    display: block;
    width: var(--width-12col);
    height: 100%;
    margin-top: 75px;
}

.hero-video-page-container-img {
    display: flex;
    justify-self: center;
}

.hero-video-page-container-img-img {
    display: flex;
    align-self: flex-start;
    width: 100%;
}

.hero-video-page-container-img-img img{
    width: 658.6657px;
    height: 439.1107px;
    padding-left: -30px;
}

.hero-video-page-container-text{
    display: flex;
    justify-self: center;
    margin: 0;
    margin-bottom: 30px;
}

.hero-video-page-container-text h1 {
    text-align: center;
    padding-top: 60px;
}

.video-section{
    display: block;
    z-index: 100;
}
.video-section-stuff{
    display: block;
}
.video-section-left{
    width: 100%;
    background-color: var(--background-color-dark);
    height: 180px;
}
.video-section-left-text {
    grid-column: 6 ;
}
.video-section-left-image-second {
    width: 60px;
    display: flex;
    justify-content: flex-start;
    color: var(--background-color-light);
}
.video-section-left-image-second img{
    width: 115px;
    height: 175px;
    background-image: var(--background-color-light);
    position: absolute;
    left: 0px;
}
.video-section-left-image img{
    width: 115px;
    height: 175px;
    background-image: var(--background-color-light);
    position: absolute;
    right: 0px;
}
.video-page-music-house-about-section-container-header h1{
    font-size: 28px;
}
.video-page-music-house-about-section-container-first-text {
    font-size: 12px;
    padding-left: 15px;
    height: 100px;
}
.video-page-music-house-about-section-container-header{
    padding-left: 20px;
}
.video-page-music-house-about-section-container-header-second {
    font-size: 12px;
    padding-top: 15px;
}
.video-page-music-house-about-section-container-header-first {
    height: 100px;
}
.video-page-music-house-about-section-container-svg svg {
    width: 150px;
    height: 150px;
}
.video-section-video video {
    width: 100%;
    height: auto;
}
}

@media (max-width:460px) {
:root {
    --width-full: 100%;
    --width-12col: 100%;
}

.hero-video-page-container-text h1 {
    font-size: 55px;
}

.hero-video-page-container-text h1 span  {
    font-size: 90px;
}

.video-page-music-house-about-section-container-header {
    margin-bottom: 15px;
}

.video-page-music-house-about-section-container-header-second {
    padding-top: 15px;
}

}

@media (max-width:460px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
} 
.video-page-music-house-about-section-container-header-second {
    padding-top: 18px;
}

}

@media (max-width:417px) {
    :root {
    --width-full: 100%;
    --width-12col: 100%;
}

.video-page-music-house-about-section-container-header {
    margin-bottom: 25px;
}

.video-page-music-house-about-section-container-header-second {
    padding-top: 30px;
}


}