@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
      /* dimensions */
    --width-full: 100%;
    --width-12col: 1200px;


    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /*colors */
    --background-color-dark: #170F0D;
    --background-color-light: #FEFFE0;
    --primary-color: #E03A32;
    --brown-color: #1D0E0A;
    --white-color: #ededed;
    --black-color : #000000;
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,

html {
    width: var(--width-full);
    font-family: 'Marcellus', serif;
    position: relative;
    background-color: var(--background-color-light);
}

.navigation,.hero,.zigzag,.footer {
    width: var(--width-full);
}

.boardofdirectors,.about {
    width: var(--width-12col);
}


.header {
    background-color: var(--brown-color);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    height: 60px;
    background-color: var(--brown-color);
    padding: 17.5px 0 17.5px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.navigation.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: var(--width-full);
    display: flex;
    justify-content: center;
}

.menu-container-logo {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;  
    margin-left: 80px;
}

.logo svg {
    width: 160px;
    height: 27.82px;
    .cls-1 {
        fill: #fefee0;
    }

    .cls-2 {
        fill: #e03a32;
    }
}

.menu-container-links {
    width: var(--width-12col);
    display: flex;
    flex-direction: row;  
    justify-content: flex-end;
}


.navigation-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-links a {
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    white-space: nowrap;
}

.navigation-links a:last-child {
    margin-right: 80px;
}

.hero-video-page {
    min-height: 500px;
    max-height: 500px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    margin-bottom: 200px;
}

.hero-video-page-container{
    display: grid;
    /*grid-template-columns: repeat(12, 1fr);*/
    grid-template-rows: auto auto auto;
    /*gap: var(--grid-gap);*/
    width: var(--width-12col);
    height: 100%;
    margin-top: 69px;
}

.hero-video-page-container-text {
    display: grid;
    justify-content: center;
    grid-column: span 1 / span 4;
}

.hero-video-page-container-text h1{
    color: var(--primary-color);
    font-size: 80px;
    font-family: 'Marcellus', serif;
    align-self: center;
    text-transform: capitalize;
    text-align: center;
}
.hero-video-page-container-text h1 span{
    color: var(--primary-color);
    font-size: 120px;
    font-family: 'Marcellus', serif;
    align-self: center;
    text-transform:uppercase;
}

.hero-video-page-container-img{
    grid-column: 4 / span 8;
}

.hero-video-page-container-img-img img{
    height: auto; /*or %*/
    width: 990px; /*or %*/
}

.video-section {
    display: flex;
    gap: var(--grid-gap);
    background-color: var(--background-color-dark);
    justify-content: center;
    width: var(--width-full);
    padding: 30px 0;
}

.video-section-stuff{
    display: flex;
    
}

.video-section-video {
    grid-column: 1 / span 6;
}

.video-section-left{
    display: grid;
    width: 600px;
}

.video-section-left-image {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: flex-end;
    color: var(--background-color-light);
}

.video-section-left-image img{
    width: 230px;
    height: 330px;
    background-image: var(--background-color-light);
    position: absolute;
    right: 0px;
}

.video-section-left-text{
    display: grid;
    padding-left: 40px;
}
.video-section-left-text a{
    align-self: center;
    color: var(--background-color-light);
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
    white-space: nowrap;
    text-transform: capitalize;
}

.video-page-music-house-about-section{
    display: flex;
    justify-content: center;
    margin: 30px 0 ;
}

.video-page-music-house-about-section-container{
    width: var(--width-12col);
}

.video-page-music-house-about-section-container-header-first{
    display: flex;
    height: 150px;
}

.video-page-music-house-about-section-container-svg svg{
    width: 250px;
    height: 250px;
        .cls-1 {
            stroke-width: 3.09px;
        }

        .cls-1, .cls-2, .cls-3 {
            fill: none;
            stroke: #231f20;
            stroke-miterlimit: 10;
        }

        .cls-2 {
            stroke-width: 3.08px;
        }

        .cls-3 {
            stroke-width: 3px;
        };
}

.video-page-music-house-about-section-container-first-text{
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Marcellus', serif;
}

.video-page-music-house-about-section-container-first-text p span {
    color: var(--primary-color);
}

.video-page-music-house-about-section-container-first-text p span span {
    font-size: 30px;
} 
.video-page-music-house-about-section-container-header-second {
    font-family: 'Marcellus', serif;
    font-size: 20px
}


.support-scarntyden {
    display: flex;
    justify-content: center;
    margin: 36px 0 0 0;
    padding-top: 48px;
    background-color: var(--background-color-dark);
}

.support-scarntyden a {
    color: var(--background-color-light);
    font-size: 36px;
    text-decoration: none;
}

.footer-section {
    background-color: var(--brown-color);
    height: 84px;
    width: var(--width-full);
}
